<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="featureContainers" name="Feature Containers" schema="schema/featureContainers.exsd"/>
   <extension-point id="featureProviders" name="Feature Providers" schema="schema/featureProviders.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="kr.co.apexsoft.stella.modeler.ui.modelerCategory"
            name="Stella Modeler"
            parentCategory="kr.co.apexsoft.stella.mainCategory">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="kr.co.apexsoft.stella.modeler.ui.editor.StellaModelerDiagramEditor"
            default="false"
            id="kr.co.apexsoft.stella.modeler.ui.editor"
            name="Stella Modeler Editor">
      </editor>
   </extension>

</plugin>
