<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="This is the diagram type for my Graphiti tutorial"
            id="kr.co.apexsoft.graphiti.tutorial.diagramType1"
            name="My Graphiti Tutorial Diagram Type"
            type="mytutorial">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="kr.co.apexsoft.graphiti.tutorial.MyTutorialDiagramTypeProvider"
            description="This is the diagram type for my Graphiti tutorial"
            id="kr.co.apexsoft.graphiti.tutorial.diagramTypeProvider1"
            name="My tutorial editor">
         <diagramType
               id="kr.co.apexsoft.graphiti.tutorial.diagramType1">
         </diagramType>
      </diagramTypeProvider>
   </extension>

</plugin>
