<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypes">
      <diagramType
            description="This is the diagram type for my Graphiti tutorial"
            id="kr.co.apexsoft.graphiti.tutorial.diagramType1"
            name="My Graphiti Tutorial Diagram Type"
            type="mytutorial">
      </diagramType>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.diagramTypeProviders">
      <diagramTypeProvider
            class="kr.co.apexsoft.graphiti.tutorial.MyTutorialDiagramTypeProvider"
            description="This is the diagram type for my Graphiti tutorial"
            id="kr.co.apexsoft.graphiti.tutorial.diagramTypeProvider1"
            name="My tutorial editor">
         <diagramType
               id="kr.co.apexsoft.graphiti.tutorial.diagramType1">
         </diagramType>
         <imageProvider
               id="kr.co.apexsoft.graphiti.tutorial.imageProvider1">
         </imageProvider>
      </diagramTypeProvider>
   </extension>
   <extension
         point="org.eclipse.graphiti.ui.imageProviders">
      <imageProvider
            class="kr.co.apexsoft.graphiti.tutorial.MytutorialImageProvider"
            id="kr.co.apexsoft.graphiti.tutorial.imageProvider1">
      </imageProvider>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="mytutorial.PropertyContributor">
         <propertyCategory
               category="Graphiti">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="mytutorial.PropertyContributor">
         <propertyTab
               category="Graphiti"
               id="graphiti.main.tab"
               label="Main">
         </propertyTab>
         <propertyTab
               category="Graphiti"
               id="graphiti.table.tab"
               label="Table">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="mytutorial.PropertyContributor">
         <propertySection
               class="kr.co.apexsoft.graphiti.tutorial.property.MyTutorialEClassSection"
               filter="kr.co.apexsoft.graphiti.tutorial.property.MyTutorialEClassFilter"
               id="graphiti.main.tab.emfclass"
               tab="graphiti.main.tab">
         </propertySection>
         <propertySection
               class="org.eclipse.ui.views.properties.tabbed.AdvancedPropertySection"
               filter="kr.co.apexsoft.graphiti.tutorial.property.MyTutorialEReferenceFilter"
               id="graphiti.main.tab.emfreference.table"
               tab="graphiti.table.tab">
         </propertySection>
      </propertySections>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="kr.co.apexsoft.graphiti.tutorial.commands.createDiagramWithAllClasses"
            name="Create Diagram with all Classes.">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="kr.co.apexsoft.graphiti.tutorial.handlers.CreateDiagramWithAllClassesHandler"
            commandId="kr.co.apexsoft.graphiti.tutorial.commands.createDiagramWithAllClasses">
         <enabledWhen>
            <reference
                  definitionId="kr.co.apexsoft.graphiti.tutorial.definitions.OneEClassesNodeSelected">
            </reference>
         </enabledWhen>
         <activeWhen>
            <reference
                  definitionId="kr.co.apexsoft.graphiti.tutorial.definitions.OneEClassesNodeSelected">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="kr.co.apexsoft.graphiti.tutorial.commands.createDiagramWithAllClasses"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="kr.co.apexsoft.graphiti.tutorial.definitions.OneEClassesNodeSelected">
         <and>
            <count
                  value="1">
            </count>
            <iterate>
               <instanceof
                     value="org.eclipse.graphiti.examples.common.navigator.nodes.EClassesNode">
               </instanceof>
            </iterate>
         </and>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.graphiti.ui.platform.GraphitiConnectionEditPart"
            class="kr.co.apexsoft.graphiti.tutorial.property.GraphitiEditPartToIPropertySourceAdapterFactory">
         <adapter
               type="kr.co.apexsoft.graphiti.tutorial.Adapter1">
         </adapter>
      </factory>
   </extension>

</plugin>
